<h2>Carrito de {{usuario.nombre}}</h2>
<h3>Id carrito: {{carrito._id}}</h3>
<hr>
{{#if carrito.items.length}}
    <ul>
        {{#each carrito.items}}
            <li>
                descripción: {{productId.description}} - cantidad: {{cantidad}} - precio: {{productId.price}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Carrito vacío</p>
{{/if}}
<br>
<button onclick="window.location.href='/productos'">Seguir comprando</button>
<br>
<button onclick="comprar('{{usuario.cart._id}}')">Finalizar Compra</button>
<br>

<script src="/js/compra.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>